@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.sticky .logo {
    color: #111;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

header.sticky ul li a {
    color: #111; 
}

section {
    padding: 100px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/banner.jpg");
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.btn {
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}

.heading.white {
    color: #fff;
}

.content {
    display: flex;
    justify-content: space-between;
}

.contentBx {
    padding-right: 30px;
}

.contentBx h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #C08552;
}

.w50 {
    min-width: 50%;
}

img {
    max-width: 100%;
}

.w50 .img {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
    transition: all .5s ease-in-out;
}

.w50 .img:hover {
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%); 
}

/* TECHNOLOGIES */

.technologies {
    background: #111;
}

.technologies .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.technologies .content .technologiesBx {
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.technologies .content .technologiesBx:hover {
    background: #2196f3;
}

.technologies .content .technologiesBx img {
  max-width: 80px;  
  filter: invert(1);
}

.technologies .content .technologiesBx h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0px;
}

/* WORK */

.work .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work .content .workBx {
    width: 50%;
    padding: 20px;
}

.work .content .workBx img {
   max-width: 100%; 
}

.c4-izmir {
    --primary-color: #C08552;
    --secondary-color: #000;
}

/* CONTACT */

.contact {
    background: #111;
}

.formBx {
    min-width: 60%;
}

.formBx form {
    display: flex;
    flex-direction: column;
}

.formBx form h3,
.contactInfo h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contactInfo h3 {
    color: #C08552;
}

.formBx form input,
.formBx form textarea {
   margin-bottom: 20px;
   padding: 15px;
   font-size: 16px;
   background: #222;
   border: none;
   outline: none;
   color: #fff;
   resize: none;
}

.formBx form textarea {
    min-height: 200px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
    color: #999;
}

.formBx form input[type="submit"] {
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contactInfo {
    min-width: 40%;
}

.contactInfoBx {
    position: relative;  
}

.contactInfoBx .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon {
   min-width: 40px;
   padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.contactInfoBx .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3 {
    font-weight: 500;
    color: #C08552;
    margin-bottom: 0;
}

/* COPYRIGHT */

.copyright {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

