@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

.btn {
    margin-top: 20px;
    position: absolute;
    color: #1670f0;
    padding: 20px 55px;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.btn:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.05);
}

.btn span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.btn span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.btn span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.btn span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    visibility: hidden;
}

header.sticky .logo {
    color: #111;
    visibility: visible;
}

.carret {
    animation: blink 1.6s infinite;
}

@keyframes blink {
    0% {
        opacity: 1; 
    }

    100% {
        opacity: 0;
    }
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

header.sticky ul li a {
    color: #111; 
}

section {
    padding: 100px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}

.heading.white {
    color: #fff;
}

.content {
    display: flex;
    justify-content: space-between;
}

.contentBx {
    padding-right: 30px;
}

.contentBx h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.w50 {
    min-width: 50%;
}

img {
    max-width: 100%;
}

.w50 .img {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);  
    transition: all .5s ease-in-out;
}

.w50 .img:hover {
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%); 
}

/* TECHNOLOGIES */

.technologies {
    background: #111;
}

.technologies .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.technologies .content .technologiesBx {
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.technologies .content .technologiesBx:hover {
    background: #2196f3;
}

.technologies .content .technologiesBx img {
  max-width: 80px;  
  filter: invert(1);
}

.technologies .content .technologiesBx h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0px;
}

#csharp:hover {
    background-color: #239120;
}

#java:hover {
    background-color: #007396;
}

#javascript:hover {
    background-color: #F7DF1E;
    color: #000;
}

#php:hover {
    background-color: #777BB4;
}

#python:hover {
    background-color: #3776AB;
}

#css3:hover {
    background-color: #1572B6;
}

#html5:hover {
    background-color: #E34F26;
}

#graphql:hover {
    background-color: #E10098;
}

#nodejs:hover {
    background-color: #339933;
}

#nodemon:hover {
    background-color: #76D04B;
    color: #000;
}

#react:hover {
    background-color: #61DAFB;
    color: #000;
}

#redux:hover {
    background-color: #764ABC;
}

#bootstrap:hover {
    background-color: #563D7C;
}

#gulp:hover {
    background-color: #CF4647;
}

#jquery:hover {
    background-color: #0769AD;
}

#material-ui:hover {
    background-color: #0081CB;
}

#npm:hover {
    background-color: #CB3837;
}

#styled-components:hover {
    background-color: #DB7093;
}

#microsoftsqlserver:hover {
    background-color: #CC2927;
}

#mongodb:hover {
    background-color: #47A248;
}

#mysql:hover {
    background-color: #4479A1;
}

#git:hover {
    background-color: #F05032;
}

#heroku:hover {
    background-color: #430098;
}

#postman:hover {
    background-color: #FF6C37;
}

#netlify:hover {
    background-color: #00C7B7;
}

#linux:hover {
    background-color: #FCC624;
    color: #000;
}

/* WORK */

.work .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work .content .workBx {
    width: 50%;
    padding: 20px;
}

.work .content .workBx img {
   max-width: 100%; 
}

.c4-izmir {
    --primary-color: #0c002b;
    --secondary-color: #1670f0;
}

/* CONTACT */

.contact {
    background: #111;
}

.formBx {
    min-width: 60%;
}

.formBx form {
    display: flex;
    flex-direction: column;
}

.formBx form h3,
.contactInfo h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea {
   margin-bottom: 20px;
   padding: 15px;
   font-size: 16px;
   background: #222;
   border: none;
   outline: none;
   color: #fff;
   resize: none;
}

.formBx form textarea {
    min-height: 200px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
    color: #999;
}

.formBx form input[type="submit"] {
    max-width: 100px;
    background: #1670f0;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contactInfo {
    min-width: 40%;
}

.contactInfoBx {
    position: relative;  
}

.contactInfoBx .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon {
   min-width: 40px;
   padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}

.contactInfoBx .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3 {
    font-weight: 500;
    color: #1670f0;
    margin-bottom: 0;
}

.text p a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

/* COPYRIGHT */

.copyright {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

