
@media ( max-width: 991px ) {
    header,
    header.sticky {
        padding: 20px 50px;
        z-index: 1000;
    }

    header .logo {
        visibility: visible;
    }

    .menu {
        position: fixed;
        top: 69px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .menu.active {
        left: 0;
    }

    header ul li a {
        color: #111;
        font-size: 24px;
        margin: 10px;
        padding: 10px 0;
        width: 100%;
        padding-left: 15px;
        transition: all .4s ease-in;
    }

    header ul li a:hover {
        background-color: #111;
        color: #fff;
       
    }

    .toggle {
        width: 40px;
        height: 40px;
        background: url("../img/menu.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    .toggle.active {
        width: 40px;
        height: 40px;
        background: url("../img/close.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }

    header.sticky .toggle {
        filter: invert(1);
    }

    section {
        padding: 100px 50px;
    }

    .banner {
        padding: 150px 50px 100px;
        background-attachment: scroll;
    }

    .banner h2 {
        font-size: 1.5em;
    }

    .banner h3 {
        font-size: 1em;
    }

    .btn-about {
        margin-top: 15px;
        padding: 15px 30px;
        font-size: 16px;
    }

    .heading h2 {
        font-size: 24px;
    }

    .contentBx h3 {
        font-size: 20px;
    }

    .content {
        flex-direction: column;
    }

    .technologies .content .technologiesBx {
        margin: 10px;
    }

    /* ABOUT */

    section.about {
        margin: 0;
    }

    /* WORK */

    .container .workBx {
        grid-template-columns: 1fr;

    }

    .work .container {
        gap: 50px;
    }

    .workBx .workImg {
        height: 250px;
        width: 100%;
        background-attachment: scroll;
    }

    .workDescription {
        grid-row: 2 / 5;
    }

    .workBx .workDescription a {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .workDescription .workLinks {
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .workBx .workDescription a {
        margin-right: 0;
    }

    /* CONTACT */

    .contactInfo {
        margin: 20px 0;
    }
}

@media ( max-width: 600px ) {
    header,
    header.sticky {
        padding: 20px 20px;
    }

    .banner {
        padding: 150px 20px 100px;
    }

    section {
        padding: 100px 20px;
    }
}
